<br><br>
<div style="background-color: #fff8df;">
<article class="col-xs-1 col-sm-1 col-md-1  col-lg-1"></article>
<article class="col-xs-10 col-sm-10 col-md-10  col-lg-10">
  <div>
      <md-card>
        <md-list>
            <md-subheader class="md-no-sticky">1. Introducción -  La seguridad como profesión</md-subheader>
            </md-list-item>
            <md-list-item ng-repeat="prd in as1" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
                <div class="md-list-item-text" layout="row">
                    <span flex="">{{ prd.name }}</span>
                </div>
                <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">2. Ingeniería Social</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as2" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">3. Sistemas Operativos</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as3" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">4. Blindar el equipo</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as4" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">5. Configuración segura de la red wi-fi</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as5" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">6. Navegar de forma segura</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as6" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">7. Gestión de la seguridad</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in as7" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
  </div>
</article>
</div>
  
  
