<div class="titulo">
  <div class="container">
          <h3>Contenido del curso avanzado</h3>
  </div>
</div>
<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-sm-10 col-md-offset-1">
      <div class="list-grop" ng-repeat="tema in temas">
        <a ng-click="ir(tema)" class="list-group-item" style="margin: 10px 0px 10px 0px">
          <h4 class="list-group-heading">{{(tema.id + 1) +".-\t"+ tema.titulo}}</h4>
          <p class="list-group-text">{{tema.descripcion}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12"></div>
      <center><a href="#cursos"><img src="img/bb.png"></a></center>
      <!--<md-button style="background-color:#95e1d3" href="#noticias">Regresar</md-button>-->
  </div>
</div>