
<!--<md-content>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
    <div class="container">
      <h3>INTERMEDIO</h3>
    </div>
  </section>
</md-content>
<div class="container" ng-controller = "info">
  <div class="main row" >
      <div class="col-sm-3" ng-repeat = "topic in topics">
          <div class="thumbnail">
              <img class = "img-responsive" alt="Imagen del cusro" src="https://dummyimage.com/600x400/000000/ffffff">
              <div class="caption">
                <h4>{{topic.title}}</h4>
                <hr>
                <p>{{topic.summary}}</p>
                <hr>
                <p><a href="#" class="btn btn-primary btn-block">Ir</a></p>
              </div>
          </div>
      </div>
  </div>
      <nav>
					<ul class="pager">
						<li class="previous"><a href="#">&larr; Anterior</a></li>
            <li class="next"><a href="" ng-click = "siguiente()">Siguiente &rarr;</a></li>
					</ul>
				</nav>
</div>-->
<br><br>
<div style="background-color: #fff8df;">
<article class="col-xs-1 col-sm-1 col-md-1  col-lg-1"></article>
<article class="col-xs-10 col-sm-10 col-md-10  col-lg-10">
  <div>
      <md-card>
        <md-list>
            <md-subheader class="md-no-sticky">1. Introducción ¿Qué hay que proteger?</md-subheader>
            </md-list-item>
            <md-list-item ng-repeat="prd in bs1" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
                <div class="md-list-item-text" layout="row">
                    <span flex="">{{ prd.name }}</span>
                </div>
                <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">2. Conceptos básicos</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in bs2" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">3. Criterios de seguridad</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in bs3" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">4. Seguridad en internet</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in bs4" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
      <br>
      <md-card>
        <md-list>
          <md-subheader class="md-no-sticky">5. Instalar un antivirus</md-subheader>
          </md-list-item>
          <md-list-item ng-repeat="prd in bs5" ng-click="changeUrl(prd.url, $event)" class="md-2-line">
              <div class="md-list-item-text" layout="row">
                  <span flex="">{{ prd.name }}</span>
              </div>
              <ng-md-icon icon="play_circle_fill" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
  </div>
</article>
</div>
  
  
