<!-- Head -->
<div class="titulo">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <center>
            <h1 style=" color: #000; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;">Padres de Familia</h1>
            <h3 style=" color: #000; font-family: 'Trocchi', serif; font-weight: normal; line-height: 48px; margin: 0;">Te podría interesar</h3> 
        </center>
        </div>
    </div>
</div>
<!-- End Head -->

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <!--¿Quienes somos?-->
      <article class="col-xs-12 col-sm-12 col-md-4  col-lg-4">
        <a ng-click="goToVideoAv(3)">
          <md-card>
              <img src="img/padres/privacidad.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">Privacidad</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                Aprende a proteger los datos personales de tus familiares, con esta sencilla guia.
              </p>
          </md-card>
        </a>
      </article>
      <article class="col-xs-12 col-sm-12 col-md-4  col-lg-4">
        <a href="#https://www.is4k.es/de-utilidad/herramientas?origen=d2">
          <md-card>
              <div >
                <img src="img/padres/control.jpg" style="margin:auto;width:100%;max-height:400px" alt="Washed Out">
              </div>
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">Control parental</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                Controla lo que pueden ver tus hijos en internet, bloqueo de páginas y aplicaciones.
              </p>
          </md-card>
        </a>
      </article>
      <article class="col-xs-12 col-sm-12 col-md-4  col-lg-4">
          <a ng-click="goToVideoIn(5)">
            <md-card>
                <div >
                  <img src="img/padres/riesgos.jpg" style="margin:auto;width:100%;max-height:400px" alt="Washed Out">
                </div>
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Conoce Riesgos</span>
                </md-card-title-text>
                </md-card-title>
                <md-card-content>
                <p>
                    Infórmate a que riesgos puedes estar expuesto y exponer a tu familia al navegar en internet.
                </p>
            </md-card>
          </a>
        </article>
    </div>
  </div>

  <div id="videos"></div>
  <!-- Head -->
<div class="titulo">
  <div class="row">
      <div class="col-sm-12">
          <br>
          <center>
          <h3 style=" color: #000; font-family: 'Trocchi', serif; font-weight: normal; line-height: 48px; margin: 0;">Videos</h3>
      </center>
      </div>
  </div>
</div>
<!-- End Head -->

<div class="row">
  <div class="col-sm-12">
    <article class="col-xs-0 col-sm-0 col-md-1  col-lg-1"></article>
    <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
      <a ng-click="goToVideoIn(4)">
        <md-card>
            <div style="height: 300px">
            <img src="img/padres/pass.jpg" class="md-card-image" style="margin:auto;width:100%;max-height:300px" alt="Washed Out">
            </div>
            <md-card-title>
            <md-card-title-text>
                <span class="md-headline">CONTRASEÑAS</span>
            </md-card-title-text>
            </md-card-title>
            <md-card-content>
            <p>
                ¿Te gustaría compartir los datos personales de tu familia? Protege tus servicios y datos siguiendo estos sencillos pasos para crear contraseñas.
            </p>
        </md-card>
      </a>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
      <a ng-click="goToVideoIn(6)">
        <md-card>
            <div style="height: 300px">
              <img src="img/padres/spy.jpg" style="margin:auto;width:100%;max-height:300px" alt="Washed Out">
            </div>
            <md-card-title>
            <md-card-title-text>
                <span class="md-headline">¿ESPÍAS EN CASA?</span>
            </md-card-title-text>
            </md-card-title>
            <md-card-content>
            <p>
              Asegura la integridad de tu familia, aprende a prevenir que alguien pueda estar espiando a tu familia por tus dispositvos electrónicos
            </p>
        </md-card>
      </a>
    </article>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <article class="col-xs-0 col-sm-0 col-md-1  col-lg-1"></article>
    <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
        <a ng-click="goToVideoBa(4)">
          <md-card>
              <div style="height: 300px">
                <img src="img/padres/virus.png" style="margin:auto;width:100%;max-height:300px" alt="Washed Out">
              </div>
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">VIRUS</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                  No dejes que programas maliciosos afecten la vida personal de tu familia y su información sensible.
              </p>
          </md-card>
        </a>
      </article>
      <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
        <a ng-click="goToVideoBa(3)">
          <md-card>
              <div style="height: 300px">
                <img src="img/padres/security.jpg" style="margin:auto;width:100%;max-height:300px" alt="Washed Out">
              </div>
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">SEGURIDAD</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                  Aprende lo necesario en seguridad infórmatica para proteger a tu familia de los riesgos y amenazas al navegar en internet.
              </p>
          </md-card>
        </a>
      </article>
  </div>
</div>


<div id="herramientas"></div>
  <!-- Head -->
<div class="titulo">
  <div class="row">
      <div class="col-sm-12">
          <br>
          <center>
          <h3 style=" color: #000; font-family: 'Trocchi', serif; font-weight: normal; line-height: 48px; margin: 0;">Herramientas</h3>
      </center>
      </div>
  </div>
</div>
<!-- End Head -->

<div class="row">
  <div class="col-sm-12">
    <article class="col-xs-0 col-sm-0 col-md-1  col-lg-1"></article>
    <!--¿Quienes somos?-->
    <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
      <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
      <a href="https://www.is4k.es/de-utilidad/herramientas/eset-parental-control-para-android?origen=d5">
        <md-card>
            <img src="img/padres/EsetPC.jpeg" class="md-card-image" alt="Washed Out">
            <md-card-title>
            <md-card-title-text>
                <span class="md-headline">ESET PARENTAL CONTROL</span>
            </md-card-title-text>
            </md-card-title>
            <md-card-content>
            <p>
              Herramienta para proteger y gestionar la actividad de un menor en internet en dispositivos móviles Android.
            </p>
        </md-card>
      </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
      <a href="https://www.is4k.es/de-utilidad/herramientas/screen-time?origen=d5">
        <md-card>
            <div >
              <img src="img/padres/screenTime.jpeg" style="margin:auto;width:100%;" alt="Washed Out">
            </div>
            <md-card-title>
            <md-card-title-text>
                <span class="md-headline">SCREEN TIME</span>
            </md-card-title-text>
            </md-card-title>
            <md-card-content>
            <p>
              Herrameinta para dispositivos móviles, tanto Android como iOS, que permite establecer control de tiempo de uso y gestionar la actividad de las aplicaciones.
            </p>
        </md-card>
      </a>
    </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-5  col-lg-5">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
        <a href="https://www.is4k.es/de-utilidad/herramientas/securekids?origen=d5">
          <md-card>
              <div >
                <img src="img/padres/SecureKids.jpeg" style="margin:auto;width:100%;" alt="Washed Out">
              </div>
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">SECURE KIDS</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                  Herramienta para proteger y gestionar la actividad de un menor en internet en dispositivos móviles android
              </p>
          </md-card>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
        <a href="https://www.is4k.es/de-utilidad/herramientas/qustodio?origen=d5">
          <md-card>
              <div >
                <img src="img/padres/Qustodio.jpeg" style="margin:auto;width:100%;max-height:400px" alt="Washed Out">
              </div>
              <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">QSTODIO</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-content>
              <p>
                  Herramienta para proteger y gestionar la actividad de un menor en internet en dispositivos Windows, MAC (Apple), Android e iOS (iPhone/iPad)
              </p>
          </md-card>
        </a>
      </div>
      </article>
  </div>
</div>

<div class="row">
  <div class="col-sm-12"></div>
      <center><a href="#menu"><img src="img/home.png"></a></center>
      <!--<md-button style="background-color:#95e1d3" href="#noticias">Regresar</md-button>-->
  </div>
</div>