
<div class="titulo">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <center>
            <h1 style=" color: #000; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;">Noticias</h1>
        </center>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <md-content layout-gt-sm="row" >
                <md-input-container>
                    <input type="text" ng-model="search" placeholder="Busqueda por tema"/>
                </md-input-container>
                <md-input-container>
                    <ng-md-icon icon="search" aria-label="Buscar" class="md-secondary md-hue-3">
                    </ng-md-icon>
                </md-input-container>
            </md-content>
        </div>
    </div>
</div>

<div class="container" style="margin-top:10px">
    <div class="main row" style="display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;">
        <div class="col-sm-4" style="display: -webkit-flex;
        display: flex;" ng-repeat = "topic in news | filter:search">
            <div class="thumbnail">
                <img class = 'img-responsive' alt='Imagen del cusro' src='{{topic.image}}'>
                <div class="caption">
                <h4>{{topic.title}}</h4>
                <b><p style="color:#37474F">{{topic.date}}</p></b>
                <p>{{topic.summary}}</p>
                <hr>
                <p><a ng-click="goToNew(topic.title, topic.summary, topic.image, topic.date,topic.content, topic.link)" class="btn btn-primary btn-block">Ir</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
